@font-face {
  font-family: "iconfont"; /* Project id 3930545 */
  src: url('iconfont.woff2?t=1677855574757') format('woff2'),
       url('iconfont.woff?t=1677855574757') format('woff'),
       url('iconfont.ttf?t=1677855574757') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cube:before {
  content: "\e6e0";
}

.icon-book:before {
  content: "\e632";
}

.icon-notes:before {
  content: "\e636";
}

.icon-project:before {
  content: "\e653";
}

.icon-other:before {
  content: "\e655";
}

.icon-star:before {
  content: "\e658";
}

.icon-minecraft:before {
  content: "\e7f9";
}

